@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Fuct';
    src: url('./Aachen Bold.ttf');
}

.fuct-font {
    font-family: 'Fuct', sans-serif;
}

.victor-mono {
    font-family: 'Victor Mono', monospace;
}

div,button,span,img,h1,h2,h3,h4,h5,h6,p,a,form {
    @apply border-neutral-500/50;
}
